<div>
    <button mat-raised-button class="btn_run" color="primary" (click)="runAutomaton()" [disabled]="running">{{running ? '正在运行' : '马上执行'}}</button>
    
    <button mat-button class="btn_log" aria-label="show logs" (click)="terminalState = terminalState == 'collapsed' ? 'expanded': 'collapsed'">
        <span>运行日志</span>
        <i class="material-icons md-dark">dvr</i>
    </button>
    <button mat-button (click)="Fit()">Fit</button>

        
        <div [@logExpand]="terminalState" class="terminal">
            <app-terminal #terminal></app-terminal>
        </div>

</div>